rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 警告：这会允许任何人读写你的数据库！仅用于初期开发测试。
    match /{document=**} {
      allow read, write: if true;
    }
  }
}