{% extends "admin/base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ title }}</h1>
    
    <div class="row">
        <!-- 统计信息卡片 -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">用户</h5>
                    <p class="card-text display-4">{{ user_count }}</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">文章</h5>
                    <p class="card-text display-4">{{ post_count }}</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">评论</h5>
                    <p class="card-text display-4">{{ comment_count }}</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">分类</h5>
                    <p class="card-text display-4">{{ category_count }}</p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 最新文章和评论 -->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">最新文章</div>
                <ul class="list-group list-group-flush">
                    {% for post in recent_posts %}
                    <li class="list-group-item">{{ post.title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">最新评论</div>
                <ul class="list-group list-group-flush">
                    {% for comment in recent_comments %}
                    <li class="list-group-item">{{ comment.content[:50] }}...</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
